.user_box {
	width: 100%;
	height: 10vh;
	background-color: rgb(225, 235, 232);
	border-bottom: 0.5vh solid rgb(111, 200, 235);
	font-size: 3vh;
	text-decoration: none;
	font-family: Verdana, DejaVu Sans, 'Droid Sans', sans-serif;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.user_box:hover:focus {
	background-color: rgb(111, 200, 235);
}

.links {
	text-decoration: none;
	color: rgb(0, 0, 0);
	line-height: 10vh;
	transform: translate(+2vw, +3vh);
}

.links:focus:hover {
	background-color: rgb(207, 206, 206);
}

.time {
	display: block;
	margin: 0;
}

.chat_header {
	text-decoration: none;
	margin: 0;
	font-weight: 500;
	font-size: 3vh;
	padding: 1vh 0 1vh 4vh;
}

.avatar {
	width: 6vh;
	height: 6vh;
	display: block;
	flex: 0;
	border-radius: 50%;
	background: rgb(255, 255, 255);
	margin-left: 2vh;
}

.avatar img {
	width: 6vh;
}

.chatContainer {
	text-decoration: none;
	margin: 0;
	flex: 2;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.indicatorCont {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-end;
	padding-right: 2vh;
}

.indicator {
	padding-top: 1vh;
	margin: 0;
	width: 4vh;
}

.msg {
	font-size: 2.5vh;
	color: rgb(54, 114, 153);
	padding-left: 4vh;
	margin: 0 0 2vh 0;
	max-width: 6vh;
	word-wrap: normal;
	white-space: nowrap;
	transform: translate(30vw, -4.5vh);
}

form.user {
	position: absolute;
	top: 15vh;
	left: 60vw;
	width: 64px;
	height: 64px;
}

form.user button {
	border: none;
	padding: 0;
	color: rgb(38, 235, 183);
}

form.adduser {
	position: fixed;
	top: 90%;
	left: 85%;
	width: 64px;
	height: 64px;
	border-radius: 50%;
}

form.adduser div {
	margin: 0;
	padding: 0;
}

form.adduser div button {
	border: none;
	border-radius: 50%;
	margin: 0;
	padding: 0;
	width: 64px;
	height: 64px;
	color: rgb(255, 255, 255);
}

form.adduserinput,
form.adduserinput div {
	border-radius: 5vh;
	position: fixed;
	height: 4vh;
	width: 100%;
	bottom: 15%;
	left: 2.5vh;
}

form.adduserinput div input {
	margin: 0 3vw;
	width: 70%;
	display: inline-block;
	font-family: Verdana, 'DejaVu Sans', 'Droid Sans', sans-serif;
	font-size: 3vh;
	height: 4vh;
}

form.adduserinput div button {
	margin: 0 3vw;
	width: 15%;
	display: inline-block;
	height: 4vh;
}
